@inherits LayoutComponentBase

<MApp>
 @*   <MAppBar Flat App Color="white" Class="m-bar--underline">
        <h2>剃刀书店</h2>
        <MSpacer></MSpacer>
    </MAppBar>*@ 
    <MAppBar App>
        <MAppBarNavIcon @onclick="()=>_drawer = !_drawer"></MAppBarNavIcon>
        <MToolbarTitle>剃刀书店</MToolbarTitle>
    </MAppBar>
    <MNavigationDrawer @bind-Value="_drawer" App>
        <MDivider Class="mx-4"></MDivider>
        <MList Dense Nav>
            <MListItem Link Href="/">
                <MListItemContent>
                    <MListItemTitle>首页</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem Link Href="book_store">
                <MListItemContent>
                    <MListItemTitle>书架</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem Link Href="source_site">
                <MListItemContent>
                    <MListItemTitle>源站</MListItemTitle>
                </MListItemContent>
            </MListItem>
        </MList>
    </MNavigationDrawer>
    <MMain>
        <MContainer Class="py-8 px-6" Fluid>
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </MContainer>
    </MMain>
</MApp>

@code{
    private bool _drawer;
}